---
import github from "@/assets/icons/socials/github.svg";
import linkedin from "@/assets/icons/socials/linkedin.svg";
import mail from "@/assets/icons/socials/mail.svg";
import mastadon from "@/assets/icons/socials/mastadon.svg";
import telegram from "@/assets/icons/socials/telegram.svg";
import whatsapp from "@/assets/icons/socials/whatsapp.svg";
import wordpress from "@/assets/icons/socials/wordpress.svg";
import config from "@/config";
import LinkButton from "./LinkButton.astro";

const iconByName = {
  github,
  linkedin,
  mail,
  mastadon,
  telegram,
  whatsapp,
  wordpress,
};

const shareLinks = config.shareLinks ?? [];

const urlToShare = Astro.url;
---

<div
  class="flex flex-none flex-col items-center justify-center gap-1 md:items-start"
>
  <div class="text-center">
    {
      shareLinks.map(shareLink => {
        const Icon = iconByName[shareLink.name];

        return (
          <LinkButton
            href={`${shareLink.url + urlToShare}`}
            class="scale-90 p-2 hover:rotate-6 sm:p-1"
            title={shareLink.linkTitle}
            rel="me"
          >
            <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
            <span class="sr-only">{shareLink.linkTitle}</span>
          </LinkButton>
        );
      })
    }
  </div>
</div>
