---
import github from "@/assets/icons/socials/github.svg";
import linkedin from "@/assets/icons/socials/linkedin.svg";
import mail from "@/assets/icons/socials/mail.svg";
import mastadon from "@/assets/icons/socials/mastadon.svg";
import wordpress from "@/assets/icons/socials/wordpress.svg";
import config from "@/config";
import LinkButton from "./LinkButton.astro";

const iconByName = {
  github,
  linkedin,
  mail,
  mastadon,
  wordpress,
};

const socials = config.socials ?? [];
---

<div class="flex flex-wrap items-center gap-1">
  {
    socials.map(social => {
      const Icon = iconByName[social.name];

      return (
        <LinkButton
          href={social.url}
          class="p-2 hover:rotate-6 sm:p-1"
          title={social.linkTitle}
          rel="me"
        >
          <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      );
    })
  }
</div>
